.form-group {
    margin: 15px 0px;
}

.container-fluid {
    max-width: 90%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.order-summary {
    background-color: beige;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.order-list{
    min-height: 240px;
}
.order {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-radius: 8px;

}

.order-info {
    flex: 1;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
}

.order-info p {
    margin: 0;
}

.actions {
    flex: 0 0 auto;
    display: flex;
}

.details-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-btn:hover {
    background-color: #45a049;
}

.totalAmount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}