<div class="order" mat-dialog-content>
    <p>Order ID: {{ this.order.orderId }}</p>
    <p>Transaction ID: {{ order.transactionId }}</p>
    <p>Date: {{ order.date.substring(0,10) }}</p>
    <p>Total Amount: &#x20B9;{{ order.item.totalAmount }}</p>
    <hr>
    <div *ngFor="let product of order.item.products" class="product">
        <img [src]="product.image" alt="{{ product.name }}" width="100">
        <div class="info">
            <p>Name: {{ product.name }}</p>
            <p>Category: {{ product.category }}</p>
            <p>Price: &#x20B9;{{ product.price }}</p>
            <p>Quantity: {{ product.quantity }}</p>
        </div>
    </div>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" mat-dialog-close (click)="this.ref.close(null)">Close</button>
</div>