<!-- <div class="sidebar">
  <ul>
    <a [routerLink]="['/account']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <li>ACCOUNT MAIN</li>
    </a>
    <a [routerLink]="['/account/dealer/orders']" routerLinkActive="active">
      <li>My Orders</li>
    </a>
    <a [routerLink]="['/account/cart']" routerLinkActive="active">
      <li>MY CART</li>
    </a>
    <a [routerLink]="['/account/profile']" routerLinkActive="active">
      <li>PROFILE SETTING</li>
    </a>
    <a (click)="logout()" routerLinkActive="active">
      <li>Logout</li>
    </a>
  </ul>
</div> -->
<div class="sidebar mt-4">
  <ul class="pt-2">
    <a [routerLink]="['/account']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <li><mat-icon>person</mat-icon> <span>Profile</span></li>
    </a>
    <a [routerLink]="['/account/dealer/orders']" routerLinkActive="active">
      <li><mat-icon>view_list</mat-icon><span>My Orders</span></li>
    </a>
    <a [routerLink]="['/account/cart']" routerLinkActive="active">
      <li><mat-icon>inventory</mat-icon> <span>My Cart</span></li>
    </a>
    <a [routerLink]="['/account/profile']" routerLinkActive="active">
      <li><mat-icon>settings</mat-icon><span>Setting</span></li>
    </a>
    <a (click)="logout()" routerLinkActive="active">
      <li><mat-icon>logout</mat-icon><span>Logout</span></li>
    </a>
  </ul>
</div>