.register-container{
    display: flex;
    justify-content: center;
    padding: 30px 80px;
    background-color: #1abc9c;
}

.register-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.register-box h2 {
    margin-bottom: 8px;
}
.register-box p{
    margin:3px 5px;
    color: red;
    text-align: left;
}
.register-box input, .register-box select {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-box button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #1abc9c;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-box button:hover {
    background-color: #1a8f78;
}

.register-box h3{
    margin-top: 10px;
    font-weight: 300;
}
.register-box h3 a{
    text-decoration: none;
}
.register-box h3 span{
    font-weight: 500;
    color: #1abc9c;
    cursor: pointer;
}
 /* Registration Success Page */
.message-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4CAF50;
    margin-bottom: 10px;
}

p {
    color: #333;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 20px;
}

.button-container a {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-container a:hover {
    background-color: #45a049;
}