<div class="w3-top">
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
        style="display:none" id="mySidebar">
        <a href="javascript:void(0)" (click)="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close
            ×</a>
        <a href="#about" (click)="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
        <a href="#team" (click)="w3_close()" class="w3-bar-item w3-button">TEAM</a>
        <a href="#work" (click)="w3_close()" class="w3-bar-item w3-button">WORK</a>
        <a href="#pricing" (click)="w3_close()" class="w3-bar-item w3-button">PRICING</a>
        <a href="#contact" (click)="w3_close()" class="w3-bar-item w3-button">Login</a>
    </nav>

    <div class="w3-bar w3-white w3-card py-2" id="myNavbar">
        <a routerLink="/" class="w3-bar-item w3-button w3-wide gradient-text">CROPDEAL</a>
        <div class="search-box mt-1">
            <form [formGroup]="searchForm" (submit)="search()">
                <input class="form-control mx-1" type="search" placeholder="Search..." [formControl]="searchText">
                <button class="btn btn-primary btn-block" type="submit">Search</button>
            </form>
        </div>

        <div class="w3-right w3-hide-small">
            <a href="#about" class="w3-bar-item w3-button" *ngIf="!isLoggedIn()">ABOUT</a>
            <a href="#work" class="w3-bar-item w3-button" *ngIf="!isLoggedIn()"><i class="fa fa-th"></i> WORK</a>
            <a href="#pricing" class="w3-bar-item w3-button" *ngIf="!isLoggedIn()"><i class="fa fa-usd"></i> PRICING</a>
            <a routerLink="/login" class="w3-bar-item w3-button" *ngIf="!isLoggedIn()"><i class="fa fa-user"></i>
                LOGIN</a>
            <mat-toolbar class="w3-bar-item w3-button" *ngIf="isLoggedIn()">
                <mat-icon class="account-icon">notifications</mat-icon>
            </mat-toolbar>
            <mat-toolbar class="w3-bar-item w3-button" *ngIf="isLoggedIn() && getRole()==='DEALER'">
                <mat-icon matBadgeColor="accent" class="account-icon" [routerLink]="['/cart']"
                    [matBadge]="sharedService.getCounter()>0?sharedService.getCounter():''">shopping_cart</mat-icon>
            </mat-toolbar>
            <mat-toolbar class="w3-bar-item w3-button" *ngIf="isLoggedIn()">
                <!-- <mat-icon  [matMenuTriggerFor]="userMenu"><i class="fa fa-user-circle"></i>ADMIN</mat-icon> -->
                <div [matMenuTriggerFor]="userMenu" style="display: flex;">
                    <mat-icon class="account-icon">account_circle</mat-icon> 
                    <p style="margin-top: -4px; font-size: smaller;" class="mx-1">{{getUserName()}}</p> 
                </div>
                <mat-menu #userMenu="matMenu">
                    <a [routerLink]="[this.getRole().toLocaleLowerCase(),'dashboard']"><button mat-menu-item><mat-icon
                                class="bar-icon m-1">dashboard</mat-icon>Dashboard</button></a>
                    <button mat-menu-item><mat-icon class="bar-icon m-1">settings</mat-icon>Edit Profile</button>
                    <button mat-menu-item (click)="logout()"><mat-icon
                            class="cart-icon m-1">logout</mat-icon>Logout</button>
                </mat-menu>
            </mat-toolbar>
        </div>

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
            (click)="w3_open()"><i class="fa fa-bars"></i>
        </a>
    </div>
</div>s

