body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

.w3-bar .w3-button {
    padding: 10px 10px;
}

mat-toolbar {
    background-color: #ffffff;
    height: 52px;
}

.gradient-text {
    /* font-size: 15px; */
    font-weight: bold;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

a {
    text-decoration: none;
}

.search-box {
    display: inline-block;
    width: 400px;
}
.search-box input{
    display: inline;
    width: 65%;
}