/* Set up default styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--content-padding, 10px);
    background-color: #ffffff;
    border-bottom: 1px solid #295c74;
}

.brand-name {
    margin-right: auto;
}

.btn {
    display: inline-block;
    background-color: #4583a0;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #295c74;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    padding: 10px 30px 10px 10px;
    /* Adjust padding as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    /* Adjust width as needed */
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}



.search-button:hover i {
    color: #333;

}

.login-button {
    padding:5px 15px;
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons .cart-icon {
    font-size: 32px;
    margin-right: 26px;
}

a {
    text-decoration: none;
}

.navbar{
    background-color: #ffffff;
    border-bottom: 1px solid #295c74;
    padding: 0 1%;
}

.toolbar {
    width: 4%;
    padding: 0;
    color: rgb(85, 85, 85);
    background-color: unset;
    cursor: pointer;
}
.navbar-brand{
    color:rgb(85, 85, 85);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 30px;
    display: flex;
    align-items: center;
}
.vert{
    height: 30px;
    width: 30px;
    font-size: 30px;
    cursor: pointer;
}

