.search {
  float: right;
  margin: 8px;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  margin-top:40px;
  justify-content: space-around;
}

.mat-icon-rtl-mirror{
  color: red;
}


@media (min-width: 500px) and (max-width: 308px) {
  .results {
    grid-template-columns: repeat(3, 1fr);
  }

  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 2fr;
  }
}