.slick-prev:before,
.slick-next:before {
  color: red;
}

.slick-arrow {
  color: red;
}

.slide {
  margin: 1px 7px;
}

.product-name {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.product-info {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

a {
  list-style: none;
  text-decoration: none;
}

p {
  color: rgb(34, 2, 2);
}

.first-carousel .slide{
  margin: 0;
}

.fixed-img {
  max-height: 200px; /* Set your desired fixed height */
  object-fit: cover; /* Ensure the image covers the entire space */
  object-position: center; /* Center the image within its container */
}

.card-body {
  padding: 1rem; /* Add padding to the card body */
}
.card-img{
  padding: 150%;
}