.container {
    max-width: 900px;
    min-height: 100vh;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
  }
  .form-group {
    margin: 10px 0px;
  }
  mat-form-field{
    width: 100%;
  }