<h1>USER</h1>
<div class="dealer">
    <div class="dashboard-2 mt-3">
        <div class="item">
            <mat-icon class="cart-icon">dashboard</mat-icon>
            <div class="m-0 p-0">
                <h5 class="m-0 p-0">Today Orders</h5>
                <h4 class="m-0 p-0">{{currentCount}}</h4>
            </div>
        </div>
        <div class="item">
            <mat-icon class="cart-icon">dashboard</mat-icon>
            <div>
                <h5 class="m-0 p-0">This Month</h5>
                <h4 class="m-0 p-0">{{currentCount}}</h4>
            </div>
        </div>
        <div class="item">
            <mat-icon class="cart-icon">dashboard</mat-icon>
            <div>
                <h5 class="m-0 p-0">Total Orders</h5>
                <h4 class="m-0 p-0">{{currentCount}}</h4>
            </div>
        </div>
        <div class="item">
            <mat-icon class="cart-icon">dashboard</mat-icon>
            <div>
                <h5 class="m-0 p-0">Total Orders</h5>
                <h4 class="m-0 p-0">{{currentCount}}</h4>
            </div>
        </div>
    </div>

    <div class="dashboard-3 mt-4">
        <p class="h6"><strong>Recent Order</strong></p>
        <table class="table mt-3">
            <thead class="thead-light">
                <tr>
                    <th scope="col">INVOICE NO</th>
                    <th scope="col">ORDER TIME</th>
                    <th scope="col">CUSTOMER NAME</th>
                    <th scope="col">AMOUNT</th>
                    <th scope="col">STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                    <td>mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>