<main>
  <app-header></app-header>
  <section class="mt-5"><router-outlet></router-outlet></section>
  <app-footer></app-footer>
</main>
<!-- 
<div class="chat-bot">
  <div class="icon">
    <i class="fa fa-user" (click)="toggleCollapsed()" *ngIf="isCollapsed"></i>
    <i class="fa fa-close" (click)="toggleCollapsed()" *ngIf="!isCollapsed"></i>
  </div>
  <div class="chat-bot-box" *ngIf="!isCollapsed">
    <div class="top">
      <div class="image">
        <img src="https://chatbot.incometax.gov.in/chatbot/api/chat/get-file/63f87e0e62d7d863899353d0" alt="">
      </div>
    </div>
    <div class="middle">
      <div class="message">
        <p class="m-0">Good Afternoon!</p>
        I am GenAI your Assistant. I am here to help you with your site related queries.What would you like
        to do?
      </div>
      <div class="reply">
        <div class="message reply">
          <p class="m-0">Hi, Can you help me</p>
        </div>
      </div>
      <div class="message">
        <p class="m-0">Good Afternoon!</p>
        I am GenAI your Assistant. I am here to help you with your site related queries.What would you like
        to do?
      </div>
      <div class="reply">
        <div class="message reply">
          <p class="m-0">Hi, Can you help me</p>
        </div>
      </div>
      <div class="message">
        <p class="m-0">Good Afternoon!</p>
        I am GenAI your Assistant. I am here to help you with your site related queries.What would you like
        to do?
      </div>
      <div class="reply">
        <div class="message reply">
          <p class="m-0">Hi, Can you help me</p>
        </div>
      </div>
      <div class="message">
        <p class="m-0">Good Afternoon!</p>
        I am GenAI your Assistant. I am here to help you with your site related queries.What would you like
        to do?
      </div>
      <div class="reply">
        <div class="message reply">
          <p class="m-0">Hi, Can you help me</p>
        </div>
      </div>      <div class="message">
        <p class="m-0">Good Afternoon!</p>
        I am GenAI your Assistant. I am here to help you with your site related queries.What would you like
        to do?
      </div>
      <div class="reply">
        <div class="message reply">
          <p class="m-0">Hi, Can you help me. I am here to help you with your site related queries.What would you like
            to do?</p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <input type="text" name="" id="" placeholder="Type your message ...">
    </div>
  </div>
</div> -->