.login-container{
    display: flex;
    justify-content: center;
    padding: 30px 80px;
    margin-bottom: 1%;
}
.login-box {
    background-color: #fff;
    padding: 0px  20px;
    border-radius: 0.5rem;
    margin-top: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 310px;
    text-align: center;
    z-index: 1;
}
.login-box .box{
    position: relative;
    left: 0;
    top: -30px;
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    color: white;
    padding: 24px 20px;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(76, 175, 79, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}
.login-box h2 {
    margin-bottom: 8px;
}
.login-box form p.red-text{
    margin:3px 5px;
    color: red;
    text-align: left;
}
.login-box input {
    padding: 10px 90px 10px 10px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-box button {
    width: 100%;
    padding: 10px;
    /* margin: 20px 0px; */
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background:linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
}

.login-box h3{
    margin-top: 10px;
    font-weight: 300;
    font-family: Roboto, Helvetica, Arial, sans-serif ;
}
.login-box h3 a{
    text-decoration: none;
}
.login-box h3 span{
    letter-spacing: -0.34px;
    font-weight: 500;
}



  
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(0, 69, 115) 58%);
    background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(0, 55, 94) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:6s;
  }
  
  .bg3 {
    animation-duration:7s;
  }
  
  .content {
    border-radius:.25em;
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
