.container{
    display: flex;
    justify-content: center;
    padding: 100px 80px;
    background-color: #1abc9c;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #1a8f78;
}

.login-container h3{
    margin-top: 10px;
    font-weight: 300;
}
.login-container h3 a{
    text-decoration: none;
}
.login-container h3 span{
    font-weight: 500;
    color: #1abc9c;
    cursor: pointer;
}