.login-container{
    display: flex;
    justify-content: center;
    padding: 30px 80px;
    background-color: #1abc9c;
}
.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 8px;
}
.login-box p{
    margin:3px 5px;
    color: red;
    text-align: left;
}
.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #1abc9c;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background-color: #1a8f78;
}

.login-box h3{
    margin-top: 10px;
    font-weight: 300;
}
.login-box h3 a{
    text-decoration: none;
}
.login-box h3 span{
    font-weight: 500;
    color: #1abc9c;
    cursor: pointer;
}