<form [formGroup]="productForm" >
    <h1 mat-dialog-title class="m-3">{{editData.title}}</h1>
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Select Category</mat-label>
            <mat-select formControlName="category" required>
                <mat-option value="Fruit">Fruit</mat-option>
                <mat-option value="Vegetable">Vegetable</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Product Price</mat-label>
            <input matInput formControlName="price" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Image Link</mat-label>
            <input matInput formControlName="image">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location">
        </mat-form-field>

        <div class="text-area">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div>
            <mat-checkbox formControlName="available">Is Active</mat-checkbox>
        </div>
    </div>
    <div mat-dialog-actions [align]="'end'" class="my-2">
        <button mat-raised-button color="warn" mat-dialog-close (click)="this.ref.close(null)">Close</button>
        <button mat-raised-button color="primary" class="mx-3" (click)="saveProduct()">{{actionBtn}}</button>
    </div>
</form>