<div class="container mt-4">
    <h1>Order Page</h1>
    <div class="order-list">
        <h4>{{order.date.split("T")[0]+", "+order.date.split("T")[1].split(".")[0].substring(0,5)}}</h4>
        @for (item of order.item.products; track $index) {
            <div class="order">
                <img mat-card-image [src]="item.image" alt="Image of {{ item.name }}" class="mx-3 mt-1" height="100px">
                <div class="order-info">
                <p><strong>{{item.name}}</strong></p>
                <p><strong>Total Amount:</strong> {{item.price}}</p>
                <p><strong>Quantity:</strong> {{item.quantity}}</p>
                <p><strong>Status:</strong> Pending</p>
            </div>
            <div class="actions">
                <button class="details-btn">View Details</button>
            </div>
        </div>
        }
    </div>

</div>