<div class="container pt-4">
    @for (product of products; track $index) {
        <section class="product-listing">
            <a [routerLink]="['/details', product.productId]" class="learn-more">
                <mat-card class="example-card">
                    <img mat-card-image
                        src="{{product.image}}"
                        alt="Image of {{ product.name }}" class="mx-3 mt-1" height="100px">
                    <mat-card-content>
                        <h3 class="product-name" #productName>{{product.name}}</h3>
                        <p class="product-info">Price: &#8377;{{product.price}}</p>
                        <p class="product-info">Quantity Available: {{product.quantity}}kg</p>
                    </mat-card-content>
                </mat-card>
            </a>
        </section>
    }
</div>