<div class="tabs">
    <div class="tab-header">
      <button 
        class="tab-button" 
        [class.active]="selectedTab === 1" 
        (click)="selectTab(1)">
        Tasks
      </button>
      <button 
        class="tab-button" 
        [class.active]="selectedTab === 2" 
        (click)="selectTab(2)">
        Approved Tasks
      </button>
      <button 
        class="tab-button" 
        [class.active]="selectedTab === 3" 
        (click)="selectTab(3)">
        Analytics
      </button>
    </div>
  
    <div class="tab-content">
      <div *ngIf="selectedTab === 1">
        <app-tasks></app-tasks>
      </div>
      
      <div *ngIf="selectedTab === 2">
        <h3>Approved Tasks</h3>

      </div>
      
      <div *ngIf="selectedTab === 3">
        <div class="admin">
            <div class="dashboard-1 mt-4">
                <div class="item">
                    <mat-icon class="cart-icon">payments</mat-icon>
                    <h5>Today Orders</h5>
                    <h4>&#8377;{{ currentCount }}</h4>
                </div>
                <div class="item bg-warning">
                    <mat-icon class="cart-icon">analytics</mat-icon>
                    <h5>This Month</h5>
                    <h4>&#8377;{{ currentCount }}</h4>
                </div>
                <div class="item bg-success">
                    <mat-icon class="cart-icon">store</mat-icon>
                    <h5>Total Products</h5>
                    <h4>{{ currentCount }}</h4>
                </div>
                <div class="item bg-primary">
                    <mat-icon class="cart-icon">group</mat-icon>
                    <h5>Total Users</h5>
                    <h4>{{ currentCount }}</h4>
                </div>
            </div>
        
            <div class="dashboard-2">
                <div class="item">
                    <mat-icon class="cart-icon">dashboard</mat-icon>
                    <div class="m-0 p-0">
                        <h5 class="m-0 p-0">Today Orders</h5>
                        <h4 class="m-0 p-0">9878.9</h4>
                    </div>
                </div>
                <div class="item">
                    <mat-icon class="cart-icon">dashboard</mat-icon>
                    <div>
                        <h5 class="m-0 p-0">This Month</h5>
                        <h4 class="m-0 p-0">9878.9</h4>
                    </div>
                </div>
                <div class="item">
                    <mat-icon class="cart-icon">dashboard</mat-icon>
                    <div>
                        <h5 class="m-0 p-0">Total Orders</h5>
                        <h4 class="m-0 p-0">9878.9</h4>
                    </div>
                </div>
                <div class="item">
                    <mat-icon class="cart-icon">dashboard</mat-icon>
                    <div>
                        <h5 class="m-0 p-0">Total Orders</h5>
                        <h4 class="m-0 p-0">9878.9</h4>
                    </div>
                </div>
            </div>
        
            <div class="dashboard-3 mt-4">
                <p class="h6"><strong>Recent Order</strong></p>
                <table class="table mt-3">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">INVOICE NO</th>
                            <th scope="col">ORDER TIME</th>
                            <th scope="col">CUSTOMER NAME</th>
                            <th scope="col">AMOUNT</th>
                            <th scope="col">STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                            <td>mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>



